<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangtotang.ttchatdemo.ui" >


    <!-- normal permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用打开网络套接口 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- BmobPush SDK权限 -->
    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push"></permission>
    <uses-permission android:name="cn.bmob.permission.push"/><!-- 添加自定义的权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <!-- UIL框架所需的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 通知震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name="com.wangtotang.ttchatdemo.manager.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity android:name="LoginActivity" />



        <activity android:name="ImageBrowserActivity" />

        <activity
            android:name="AddFriendActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name="NewFriendActivity" />

        <activity android:name="UpdateInfoActivity" />

        <activity
            android:name="ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity android:name="SetMyInfoActivity" />

        <activity
            android:name="RegisterActivity"
            android:label="@string/app_name" />

        <!-- IM聊天所需的Push start-->
        <service
            android:label="PushService"
            android:name="cn.bmob.push.lib.service.PushService"
            android:process="cn.bmob.push"
            android:permission="cn.bmob.permission.push"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>
        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 创建的消息接收器 -->
        <receiver android:name="com.wangtotang.ttchatdemo.receiver.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <!-- IM聊天所需的Push end-->

        <!-- 启动定时检测操作 -->
        <service android:name="cn.bmob.im.poll.BmobPollService">
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService"/>
            </intent-filter>
        </service>
    </application>

</manifest>
